.plot-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.plot {
  background: #87481bf2;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 42px;
  height: 40px;
  width: 40px;
  /*margin-right: -1px;
  margin-top: -1px;*/
  padding: 0;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.plantable {
  background: #96501ef2;
}

.plot:focus {
  outline: none;
}

.plot:hover {
    border: 1px solid #fff5;
    -webkit-animation: pulse 2s infinite;
}

@keyframes pulse
{
  0% {
    border-color: #fff5
  }
  50% {
    border-color: transparent
  }
  100% {
    border-color: #fff5
  }
}

.plot > img {
  max-width: 100%;
}

.imageBox {
  max-width: 80%;
}


.game {
  display: flex;
  flex-direction: row;
}

.plant-row{
  text-align: left;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  background: #0901;
  border: 1px solid transparent;
}

.selected.plant-row{
  border:1px solid #090
}

.plant-row > .details{
  display: inline-block;
  margin-left: 25px;
}

.details > .typeName{
  font-weight: bold;
}

.plant-row > .sprite{
  padding: 4px;
  display: inline-block;
  border-radius: 50px;
  background: #ddd9;
}


.plantZone{
  background: #8e2828cc; /*#ddd9;*/
}

.plantable.plantZone{
  background: #0b09;
}
