body {
    background: white;
    color: #1b5e20;
    margin-top: 100px;
    margin-bottom: 50px;
}

.button {
  background-color: #2e7d32; /* #4CAF50 Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logo{
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e8f5e9;
  color: #2e7d32;
  text-align: center;
}

a {
 color: #2e7d32;
}

.header {
    display: inline-block;
    vertical-align: middle;
}

header {
    text-align: center;
    background-color: #e8f5e9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1px;
    /* there were some weird margin things going on so this is a possible fix */
    /*margin-top: -20px;
    margin-left: -10px;*/
}

#quotes {
    background-color: #f5f5f5; /* #f2f2f2; light grey */
    color: black;
    padding: 50px;
    margin: 30px 50px 50px 50px;
    text-align: center;
    display: block;
}

.plant_map {
    /*width: 700px;
    height: 450px;*/
    background-color: #4D3006;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 30px 10px 30px 50px;
    display: inline-block;
    vertical-align: middle;
}

.info_box {
    background-color: white;
    border: 0.5px solid #C2C1C1;
    box-sizing: border-box;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 425px;
    margin: 30px 30px 30px 10px;
    vertical-align: middle;
    color: #003300; /* dark green */
}

.plant_dashboard {
/*background-color: #DFFFF7;*/
    text-align: center;
}

#image_viewer {
    display: none;
}

#plant_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
}

.graphs{
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  margin-bottom: 50px;
}
.nav_buttons {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
}

.overrides{
    margin: 20px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#x{
  vertical-align: top;
}

#y{
  margin-top: 20px;
}
