body {
    background: white;
    color: green;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logo{
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}

a {
 color: white;
}

.header {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

header {
    text-align: center;
    background-color: white;
}

#quotes {
    background-color: #f2f2f2; /* light grey */
    color: #003300; /* dark green */
    padding: 50px;
    margin: 30px 50px 50px 50px;
    text-align: center;
    display: block;
}

.plant_map {
    width: 700px;
    height: 320px;
    background-color: #4D3006;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 50px 10px 30px 50px;
    display: inline-block;
    vertical-align: middle;
}

.info_box {
    background-color: white;
    border: 0.5px solid #C2C1C1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 320px;
    margin: 50px 30px 30px 10px;
    vertical-align: middle;
    color: #003300; /* dark green */
}

.plant_dashboard {
/*background-color: #DFFFF7;*/
    text-align: center;
}

#image_viewer {
    display: none;
}

#plant_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}