

.html {
    background-color: grey;
}


.grid {
    width: 900px;   
    display: grid;
    background-color: black;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
}

.item:hover {
    border: solid;
    border-color: rgba(255,255,255,1);
    -webkit-animation: pulse 3s infinite;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: rgb(122, 85, 28);
}

.i11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.i12 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.i13 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.i21 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.i22 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.i23 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.i31 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.i32 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.i33 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}



/* progress_ring */


.progress-ring {
  
}

.progress-ring__circle {
  transition: 3s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* animations */

@keyframes pulse
{
  0% {
    border-color: transparent
  }
  50% {
    border-color: white
  }
  100% {
    border-color: transparent
  }
}


