<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="plantdata" action = "." method = "POST">
        <label>Plant Name:</label>
        <input type="text" name="plantname">
        <label>Plant ID:</label>
        <input type="number" name="plantid">
        <label>Date Watered:</label>
        <input type="date" name="waterdate" >
        <input type= "submit" value="submit">
    </form>
</body>
</html>
