<!DOCTYPE html>
<html>
    <head>
        <title>sprout.ed - Admin</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
        <script src="/static/Chart.bundle.js"></script>
        <script type="text/javascript" src="/static/jquery-3.4.1.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
        <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <div class="headerLeft">
              <img class= "logo" src="/static/logo_green.png" alt="sprouted logo"/>
              <div class="statuses">
                <div class="statusTitle">Status</div>
                <hr></hr>
                <div class="statusBox">
                  <span title="Motors not connected.">
                    <div class="statusIndicator statusError"></div>
                    <a class="statusDescription">Motor Connection</a>
                  </span>
                </div>
                <div class="statusBox">
                  <span title="EV3 not connected.">
                    <div class="statusIndicator statusError"></div> <!-- statusWarning-->
                    <a class="statusDescription">EV3 Connection</a>
                  </span>
                </div>
              </div>
            </div>
            <div>
              <a id="editNameButton" class="button editB" onclick="editName()"></a>
              <div id="spaceName">
                <h1 id="origName" class="header" onclick="editName()"><small><small>✎</small></small> Appleton 3 </h1>
                <h1 class="header">- Admin</h1>
              </div>
            </div>
            <div class="nav_buttons">
                <a class="button" onclick="overlayOn()">Edit Seedpods</a>
                <a class="button" href="change">Change Password</a>
                <!-- <a class="button" href="/">Home</a>-->
                <!-- <a class="button" href="/overrides">Overrides</a>-->
            </div>
        </header>
        <div id="wateringTimes">
          Running automated moisture checks and watering twice daily, at
          <div id="time1" class="timebox">
            <a onclick="editTime('time1')">✎07:30</a>
          </div>
          and at
          <div id="time2" class="timebox">
            <a onclick="editTime('time2')">✎18:30</a>
          </div>
          , with a daily water usage of <b>27ml</b>.
        </div>
        <div class="plant_dashboard" id="root"></div>

        <div class="graphs">
          <div id="side_graphs">
                <canvas id="temp" height="240px" display="block"></canvas>
                <canvas id="m2c" height="240px" display="inline"></canvas>
          </div>

          <div id="action_log">
            <table id="action_table"></table>
          </div>
        </div>

        <script type="text/javascript">
          $('#action_table').DataTable( {
              // scrollY: 400,
              // paging: false,
              // searching: false,
              ordering: false,
              stateSave : true,
              lengthChange: false,
              ajax: {
                  url: '/actions.json',
                  dataSrc: 'actions'
              },
              columns: [
                { data: 'timestamp', title : 'Timestamp' },
                { data: 'action', title : 'Action' }
            ]
          } );
        </script>

        <div class= "graphs">
          <!-- <div class ="graph_cont">
            <canvas id="temp" width="450px" height="300px" display="inline"></canvas>
          </div> -->
          <!--
          <div class ="graph_cont">
            <canvas id="humidity" width="450px" height="300px" display="inline"></canvas>
          </div>-->
          <!-- <div class ="graph_cont">
            <div><canvas id="m2c" width="450px" height="300px"></canvas></div>
          </div> -->
        </div>

        <div id="seedpodOverlay">
          <div class="seedPodBox">
            <h4>Configure Seedpods</h4>
            <div id ="podHolder">
              <div class="podData podRow" id="pod1">
                <div class="podCircular podNumber">1</div>
                <div class="podPlant">
                  <select class= "podSelect">
                    <option>Empty</option>
                    <option selected="selected">👨‍🌾 Fertilizer</option>
                    <option>🍀 Basil</option>
                    <option>🌺 Geranium</option>
                    <option>🌼 Nasturtium</option>
                    <option>🌱 Coriander</option>
                    <option>🌿 Boston Fern</option>
                  </select>
                </div>
                <div class="podCircular podDelete" onclick="deletePod(1)"> X </div>
              </div>
              <div class="podData podRow" id="pod2">
                <div class="podCircular podNumber">2</div>
                <div class="podPlant">
                  <select class= "podSelect">
                    <option>Empty</option>
                    <option>👨‍🌾 Fertilizer</option>
                    <option selected="selected">🍀 Basil</option>
                    <option>🌺 Geranium</option>
                    <option>🌼 Nasturtium</option>
                    <option>🌱 Coriander</option>
                    <option>🌿 Boston Fern</option>
                  </select>
                </div>
                <div class="podCircular podDelete" onclick="deletePod(2)"> X </div>
              </div>
            </div>
            <div class="podAdd podRow" onclick="addPod()">
              +
            </div>

            <a class="button negButton" onclick="overlayOff()">Cancel</a>
            <a class="button" onclick="overlayOff()" style="float:right">Save</a>
          </div>
        </div>

        <footer>
            <p>© 2020 sprout.ed - contact us at <a href="mailto:sprouted04@gmail.com">sprouted04@gmail.com</a></p>
        </footer>

        <script>
          Chart.defaults.global.responsive = false
          Chart.defaults.global.legend.display = false;

          offset = 1
          tempReadings = [0];
          humidReadings = [0];
          m1Readings = [0];
          m2Readings = [0];
          timeL = ['t-0'];

          var a;
          function addData(forget){
            if(tempReadings.length >= 100){
              forget = true;
            }

            fetch('./sensors').then((resp)=>{return resp.json();}).then((myJson)=>{
              if (!forget){
                timeL.push(`t+${offset+=1}`)
              } else {
                tempReadings.shift();
                //humidReadings.shift();
                m2Readings.shift();
              }

              a = myJson;
              tempReadings.push((a.temp > 0)? a.temp:tempReadings[tempReadings.length-1])
              //humidReadings.push((a.humidity > 0)? a.humidity:humidReadings[humidReadings.length-1])
              // m1Readings.push((a.m1 > 0)? a.m1:m1Readings[m1Readings.length-1])
              // m2Readings.push((a.m2 > 0)? a.m2:m2Readings[m2Readings.length-1])

              m2Readings.push(a.m2);

              // humidReadings.push(a.humidity)
              //humidChart.update();
              tempChart.update();
              m2Chart.update();
            });

            // tempReadings.push(Math.floor((Math.random() * 20) + 1))
            // humidReadings.push(Math.random())
          }



          // janky for now but not forever
          var tempChart = new Chart(document.getElementById('temp').getContext('2d'), {
              type: 'line',
              data: {
                  labels: timeL,
                  datasets:[{
                    label: "temp",
                    data:  tempReadings,
                    borderColor: "#ffa500"
                  }]
              },
              options: {
                  title: {
                   display: true,
                   text: 'Temperature Readings'
                  }
              }
          });
          /*
          var humidChart = new Chart(document.getElementById('humidity').getContext('2d'), {
              type: 'line',
              data: {
                  labels: timeL,
                  datasets:[{
                    label: "humidity",
                    data:  humidReadings,
                    borderColor: "#0000ff"
                  }]
              },
              options: {
                  title: {
                   display: true,
                   text: 'Humidity Readings'
                  }
              }
          });*/

          var m2Chart = new Chart(document.getElementById('m2c').getContext('2d'), {
              type: 'line',
              data: {
                  labels: timeL,
                  datasets:[{
                    label: "m2",
                    data:  m2Readings,
                    borderColor: "#0000ff"
                  }]
              },
              options: {
                  title: {
                   display: true,
                   text: 'Moisture Readings'
                  }
              }
          });



          setInterval(addData, 1500)

          function editName(){
            var editB = "";
            var saveB = "✔︎";
            var button = document.getElementById("editNameButton");
            var space = document.getElementById("spaceName")

            if (button.innerHTML == editB){
              var currName = space.children[0].innerHTML.split(">")[4];
              space.innerHTML = `<input type="text" id="spaceBox" placeholder="${currName}">`;
              button.innerHTML = saveB;
              button.classList.remove('editB')

            } else {
              var name = space.children[0].value;
              if (name == ""){
                name = space.children[0].placeholder;
              }
              space.innerHTML = `<h1 id="origName"class="header" onclick="editName()"><small><small>✎</small></small> ${name}</h1><h1 class="header">- Admin</h1>`;
              button.innerHTML = editB;
              button.classList.add('editB')
            }
          };

          function confirmTime(timeBox){
            var elem = document.getElementById(timeBox);
            time = elem.children[0].value;
            time = time? time : "00:00";
            elem.innerHTML = `<a onclick="editTime('${timeBox}')">✎${time}</a>`;
          };

          function editTime(timeBox){
            var elem = document.getElementById(timeBox);
            time = elem.children[0].innerHTML.slice(1);
            elem.innerHTML = `<input id="appt-time" type="time" name="appt-time" value="${time}"><div onclick="confirmTime('${timeBox}')">✔︎</div>`;
          };

        </script>
    </body>


    <script src="/static/react/react.js"></script>
    <script src="/static/react/react-dom.js"></script>
    <script src="/static/react/JSXTransformer.js"></script>
    <link rel="stylesheet" href="/static/plants.css" />

    <script>
      var plotsJson = JSON.parse('{{ plotsJson| safe }}');
      var plantDB = JSON.parse('{{ dbJSON| safe }}');

      var pageMode = "admin";
    </script>




    <script>
        function addPod(){
          number = document.getElementById("podHolder").children.length + 1;
          var creator = document.createElement("div");
          creator.innerHTML = `<div class="podData podRow" id="pod${number}">
            <div class="podCircular podNumber">${number}</div>
            <div class="podPlant">
              <select class= "podSelect">
                <option>Empty</option>
                <option>👨‍🌾 Fertilizer</option>
                <option>🍀 Basil</option>
                <option>🌺 Geranium</option>
                <option>🌼 Nasturtium</option>
                <option>🌱 Coriander</option>
                <option>🌿 Boston Fern</option>
              </select>
            </div>
            <div class="podCircular podDelete" onclick="deletePod(${number})"> X </div>
          </div>`
          document.getElementById("podHolder").append(creator.firstChild);
        }
        function deletePod(number){
          maxElem = document.getElementById("podHolder").children.length;
          document.getElementById(`pod${number}`).remove();
          console.log(maxElem);
          for (i = number+1; i<= maxElem; i++){
            console.log(i, maxElem);

            pod = document.getElementById(`pod${i}`);
            console.log(pod);
            pod.children[0].innerHTML = `${i-1}`;
            pod.children[2].setAttribute( "onClick",`deletePod(${i-1})`);
            pod.id = `pod${i-1}`;
            console.log(pod);

          }
        }

        function overlayOn() {
          document.getElementById("seedpodOverlay").style.display = "block";
        }

        function overlayOff() {
          document.getElementById("seedpodOverlay").style.display = "none";
        }
    </script>

    <script  type="text/jsx" src="/static/grid2.js">
    </script>


</html>
