<!DOCTYPE html>
<html>
    <head>
        <title>sprout.ed - Admin</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    </head>
    <body>
        <header>
            <img class= "logo" src="/static/logo_green.png" alt="sprouted logo"/>
            <h1 class="header">Appleton 3 - Admin</h1>
            <div class="nav_buttons">
                <a class="button" href="/">Home</a>
                <a class="button" href="/overrides">Overrides</a>
            </div>
        </header>
        <div class="plant_dashboard">
            <div class="plant_map"></div>
            <div class="info_box">
                <h4>Overview</h4>
                <p>You are currently growing 6 plants.</p>
                <p>Click on a plant to view its information.</p>
                <p>Click on a plus to add a new plant.</p>
            </div>
        </div>
        <footer>
            <p>© 2020 sprout.ed - contact us at <a href="mailto:sprouted04@gmail.com">sprouted04@gmail.com</a></p>
        </footer>
    </body>
</html>
