<!DOCTYPE html>
<html>
    <head>
        <title>sprout.ed - Admin</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
        <script src="/static/Chart.bundle.js"></script>
        <script type="text/javascript" src="/static/jquery-3.4.1.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
        <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
    </head>
    <body>
        <header>
            <img class= "logo" src="/static/logo_green.png" alt="sprouted logo"/>
            <h1 class="header">Appleton 3 - Admin</h1>
            <div class="nav_buttons">
                <a class="button" href="/">Home</a>
                <a class="button" href="/overrides">Overrides</a>
            </div>
        </header>
        <div class="plant_dashboard">
            <div class="plant_map"></div>
            <div class="info_box">
                <h4>Overview</h4>
                <p>You are currently growing 6 plants.</p>
                <p>Click on a plant to view its information.</p>
                <p>Click on a plus to add a new plant.</p>
            </div>
        </div>

        <div id="action_log">
          <table id="action_table"></table>
        </div>

        <script type="text/javascript">
          $('#action_table').DataTable( {
              // scrollY: 400,
              // paging: false,
              // searching: false,
              //ordering: false,
              //stateSave : true,
              ajax: {
                  url: '/actions.json',
                  dataSrc: 'actions'
              },
              columns: [
                { data: 'timestamp', title : 'Timestamp' },
                { data: 'action', title : 'Action' }
            ]
          } );
        </script>

        <div class= "graphs">
          <div class ="graph_cont">
            <canvas id="temp" width="450px" height="300px" display="inline"></canvas>
          </div>
          <div class ="graph_cont">
            <canvas id="humidity" width="450px" height="300px" display="inline"></canvas>
          </div>
          <div class ="graph_cont">
            <div><canvas id="m2c" width="450px" height="300px"></canvas></div>
          </div>
        </div>

        <footer>
            <p>© 2020 sprout.ed - contact us at <a href="mailto:sprouted04@gmail.com">sprouted04@gmail.com</a></p>
        </footer>

        <script>
          Chart.defaults.global.responsive = false
          Chart.defaults.global.legend.display = false;

          offset = 1
          tempReadings = [0];
          humidReadings = [0];
          m1Readings = [0];
          m2Readings = [0];
          timeL = ['t-0'];

          var a;
          function addData(forget){
            if(tempReadings.length >= 100){
              forget = true;
            }

            fetch('./sensors').then((resp)=>{return resp.json();}).then((myJson)=>{
              if (!forget){
                timeL.push(`t+${offset+=1}`)
              } else {
                tempReadings.shift();
                humidReadings.shift();
                m2Readings.shift();
              }

              a = myJson;
              tempReadings.push((a.temp > 0)? a.temp:tempReadings[tempReadings.length-1])
              humidReadings.push((a.humidity > 0)? a.humidity:humidReadings[humidReadings.length-1])
              // m1Readings.push((a.m1 > 0)? a.m1:m1Readings[m1Readings.length-1])
              // m2Readings.push((a.m2 > 0)? a.m2:m2Readings[m2Readings.length-1])

              m2Readings.push(a.m2);

              // humidReadings.push(a.humidity)
              humidChart.update();
              tempChart.update();
              m2Chart.update();
            });

            // tempReadings.push(Math.floor((Math.random() * 20) + 1))
            // humidReadings.push(Math.random())
          }



          // janky for now but not forever
          var tempChart = new Chart(document.getElementById('temp').getContext('2d'), {
              type: 'line',
              data: {
                  labels: timeL,
                  datasets:[{
                    label: "temp",
                    data:  tempReadings,
                    borderColor: "#ffa500"
                  }]
              },
              options: {
                  title: {
                   display: true,
                   text: 'Temperature Readings'
                  }
              }
          });

          var humidChart = new Chart(document.getElementById('humidity').getContext('2d'), {
              type: 'line',
              data: {
                  labels: timeL,
                  datasets:[{
                    label: "humidity",
                    data:  humidReadings,
                    borderColor: "#0000ff"
                  }]
              },
              options: {
                  title: {
                   display: true,
                   text: 'Humidity Readings'
                  }
              }
          });

          var m2Chart = new Chart(document.getElementById('m2c').getContext('2d'), {
              type: 'line',
              data: {
                  labels: timeL,
                  datasets:[{
                    label: "m2",
                    data:  m2Readings,
                    borderColor: "#0000ff"
                  }]
              },
              options: {
                  title: {
                   display: true,
                   text: 'M1 Readings'
                  }
              }
          });



          setInterval(addData, 1500)
        </script>
    </body>
</html>
