<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=login] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=login]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<script>
  function changePswd() {
    var oldpass = document.getElementById("lastpass").value;
    var newpass = document.getElementById("newpass").value;
    alert("Password changed from";)
  }
</script>

<div>
  <form action="#">
    

    <label for="opass">Old Password</label>
    <input type="text" id="lastpass" name="lastpass">
    <label for="npass">New Password</label>
    <input type="text" id="oldpass" name="lastpass">
    <button type="submit" class="btn" onclick="changePswd();">Login</button>
  </form>
</div>

</body>
</html>
