<!DOCTYPE html>
<html>
    <head>
        <title>sprout.ed - Home</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    </head>
    <body>
        <header>
            <img class="logo" src="/static/logo_green.png" alt="sprouted logo"/>
            <h1 class="header">Appleton 3 - Home</h1>
            <a class="button" href="/admin">Admin</a>
        </header>
        <div class="plant_dashboard">
            <div class="plant_map"></div>
            <div class="info_box">
                <h4>Overview</h4>
                <p>You are currently growing 6 plants.</p>
                <p>Click on a plant to view its information.</p>
            </div>
        </div>
        <div class="quotes">
            <h3>"Even if I knew that tomorrow the world would go to pieces, I would still plant my apple tree."</h3>
            <h4>Martin Luther</h4>
        </div>
        <footer>
            <p>© 2020 sprout.ed - contact us at <a href="mailto:sprouted04@gmail.com">sprouted04@gmail.com</a></p>
        </footer>
    </body>
</html>
